@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

*body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: sans-serif;

}

header{
    width: 100%;
}

.logo{
    width: 100%;
    display:block;
    margin:auto;
}
.doctor{
    display:block;
    margin:auto;
    width: 30%;
    height: auto;
    align-items: center;
}

form{
    margin: 30px 10px 20px 10px;


}

.form-control{
    border-radius: 8px;
    border-color: black;
    border-width: 1.2px;

    
}

.form-group{
    margin: 5px 20px;
}

p{
    font-weight: 500;
    font-size: 30px;
    display:block;
    margin:auto;
    height: auto;
    text-align: center;
    font-family: 'Poppins';
}
.btn{
    background-color: #5000ca;
    border-radius: 10px;
    display:block;
    margin:auto;
    height: auto;
    text-align: center;
    margin-top: 30px;
    padding: 12px;
    width: 50%;
    font-family: sans-serif;
    font-size: 18px;

}

#registrarse{
    font-size: 15px;
    display:block;
    margin:auto;
    height: auto;
    text-align: center;
    font-family: sans-serif;
    margin-top: auto;
}
/**
#footer{
    font-size: 15px;
    font-family: sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}

**/


#ShowPassword{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 5px;
}

#mostrar_contraseña{
    display: inline;
    font-size: 15px;
    margin: 0;

}


#ShowPassword2{
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 5px;
}

#mostrar_contraseña2{
    display: inline;
    font-size: 15px;
    margin: 0;

}
